<!doctype html>
    <html style=font-family:Lato,Helvetica,Arial,sans-serif xmlns=http://www.w3.org/1999/xhtml>

    <head style=font-family:Lato,Helvetica,Arial,sans-serif>
        <meta content="text/html; charset=UTF-8" style=font-family:Lato,Helvetica,Arial,sans-serif
            http-equiv=Content-Type>
        <meta content="width=device-width,initial-scale=1" style=font-family:Lato,Helvetica,Arial,sans-serif
            name=viewport>
        <title style=font-family:Lato,Helvetica,Arial,sans-serif>FRAC</title>

    <body bgcolor=#f7f7f7
        style=font-family:Lato,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;height:100%;color:#676767;letter-spacing:.12px;width:100%!important;margin:0!important>
        <table
            style="font-family:Lato,Helvetica,Arial,sans-serif;width:400px;border:2px solid #ddd;border-collapse:collapse!important"
            class=container-for-gmail-android cellpadding=0 cellspacing=0 width=100% align=center>
            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse
                    valign=top width=100% align=left>
                    <center style=font-family:Lato,Helvetica,Arial,sans-serif>
                        <table style=font-family:Lato,Helvetica,Arial,sans-serif;border-collapse:collapse!important
                            cellpadding=0 cellspacing=0 width=100%>
                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                <td style=text-align:center;vertical-align:middle;background-color:#f7f7f7;font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;line-height:21px;border-collapse:collapse
                                    valign=top width=100% height=80>
                                    <center style=font-family:Lato,Helvetica,Arial,sans-serif>
                                        <table
                                            style=font-family:Lato,Helvetica,Arial,sans-serif;border-collapse:collapse!important
                                            class=w320 cellpadding=0 cellspacing=0 width=600>
                                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                                <td style=vertical-align:middle;font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:left;line-height:21px;border-collapse:collapse;width:300px
                                                    class=mobile-header-center><a href=""
                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;display:inline-block;margin-left:16px;text-decoration:none!important
                                                        class=logo-anchor><img alt=Logo
                                                            src=https://igotkarmayogi.gov.in/assets/email-template/Group%202.svg
                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;height:48px;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none
                                                            title=Logo width=350px></a>
                                        </table>
                                    </center>
                        </table>
                    </center>
            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse
                    valign=top width=100% align=left>
                    <center style=font-family:Lato,Helvetica,Arial,sans-serif>
                        <table style=font-family:Lato,Helvetica,Arial,sans-serif;border-collapse:collapse!important
                            cellpadding=0 cellspacing=0 width=100%>
                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                <td style=text-align:center;vertical-align:middle;background-color:#f7f7f7;font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;line-height:21px;border-collapse:collapse
                                    valign=top width=100% height=80>
                                    <center style=font-family:Lato,Helvetica,Arial,sans-serif>
                                        <table
                                            style=font-family:Lato,Helvetica,Arial,sans-serif;border-collapse:collapse!important
                                            class=w320 cellpadding=0 cellspacing=0 width=600>
                                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                                <td style=vertical-align:middle;font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;height:auto;width:100%
                                                    class=main-banner-section><a href=""
                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;text-decoration:none!important><img
                                                            alt=Logo
                                                            src=https://igotkarmayogi.gov.in/assets/email-template/email-banner.svg
                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none;height:auto
                                                            title=Logo height=47></a>
                                        </table>
                                    </center>
                        </table>
                    </center>
            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                <td style=background-color:#f7f7f7;font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;width:100%
                    class="w-full description-table-td" align=center valign=top width=100%>
                    <center style=font-family:Lato,Helvetica,Arial,sans-serif>
                        <table
                            style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:left;line-height:21px;border-collapse:collapse;width:100%>
                            <tr>
                                <td style=padding:16px colspan=4>
                                    <p
                                        style=font-family:Lato,Helvetica,Arial,sans-serif;line-height:24px;letter-spacing:.25px;font-weight:700;font-size:16px;margin:0>
                                        Namaste Karmayogi,
                            <tr>
                                <td style=padding:16px colspan=4>
                                    <p
                                        style="font-family:Lato,Helvetica,Arial,sans-serif;line-height:20px;letter-spacing:.25px;font-size:14px;margin:0 0 16px 0">
                                        Your AI-generated Capacity Building Plan (CBP) request has been $status.
                                    <p
                                        style="font-family:Lato,Helvetica,Arial,sans-serif;line-height:20px;letter-spacing:.25px;font-size:14px;margin:0 0 8px 0">
                                        Details:
                                    <ul
                                        style="font-family:Lato,Helvetica,Arial,sans-serif;line-height:20px;letter-spacing:.25px;font-size:14px;margin:0 0 16px 20px;padding:0">
                                        <li style=margin-left:15px>CBP/request Name: $cbpName
                                        <li style=margin-left:15px>Status: $status
                                        <li style=margin-left:15px>Action Taken By: $approverName
                                        <li style=margin-left:15px>Action Date: $actionDate
                                    </ul>
                                    <p
                                        style=font-family:Lato,Helvetica,Arial,sans-serif;line-height:20px;letter-spacing:.25px;font-size:14px;margin:0>
                                        Reason for Rejection: $rejectionReason
                                    <p>
                                        You may log in to the AI CBP tool to review the latest status.
                                    </p>

                                    <p>
                                        Regards,<br>
                                        AI CBP Platform Team
                                    </p>

                        </table>
                    </center>
            <tr style=font-family:Lato,Helvetica,Arial,sans-serif;background-color:#f8f9ff class=row-light>
                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:left!important;line-height:21px;border-collapse:collapse
                    class=text-left>
                    <table
                        style=font-family:Lato,Helvetica,Arial,sans-serif;width:100%;border-collapse:collapse!important
                        class=w-full>
                        <tbody style=font-family:Lato,Helvetica,Arial,sans-serif>
                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:left!important;line-height:21px;border-collapse:collapse;padding-top:16px;padding:16px
                                    class="text-left p-16 pt-24">
                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                <td style="font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:left!important;line-height:21px;border-collapse:collapse;padding:24px 8px 40px 24px"
                                    class="text-left p-16 pt-24">
                                    <table
                                        style=font-family:Lato,Helvetica,Arial,sans-serif;width:100%;border-collapse:collapse!important
                                        class=w-full>
                                        <tbody style=font-family:Lato,Helvetica,Arial,sans-serif>
                                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif;width:100%
                                                class=w-100>
                                                <td
                                                    style=padding-top:24px;padding-bottom:24px;font-family:Lato,Helvetica,Arial,sans-serif;font-size:12px;color:rgba(0,0,0,.87);text-align:center;line-height:21px;border-collapse:collapse>
                                                    <p
                                                        style=text-align:center;color:rgba(0,0,0,.87);font-family:Lato,Helvetica,Arial,sans-serif;margin-bottom:4px;margin-top:0>
                                                        <span
                                                            style=display:block;font-weight:700;font-family:Lato,Helvetica,Arial,sans-serif>Should
                                                            you have any queries or need assistance, reach out to our
                                                            dedicated support team at</span>
                                                    <p
                                                        style=text-align:center;color:rgba(0,0,0,.87);font-family:Lato,Helvetica,Arial,sans-serif;margin-bottom:4px;margin-top:0>
                                                        <a href=mailto:mission.karmayogi@gov.in
                                                            style=font-family:Lato,Helvetica,Arial,sans-serif;color:#1b4ca1;text-decoration:underline!important;cursor:pointer!important
                                                            class=footer-links>mission.karmayogi@gov.in</a> <span>/
                                                            Microsoft Teams : </span><a href=$meetingLink
                                                            style=font-family:Lato,Helvetica,Arial,sans-serif;color:#1b4ca1;text-decoration:underline!important;cursor:pointer!important
                                                            class=footer-links>Click Here to join Meeting</a>
                                                    <p
                                                        style=text-align:center;color:rgba(0,0,0,.87);font-family:Lato,Helvetica,Arial,sans-serif;margin-bottom:4px;margin-top:0>
                                                        <span
                                                            style=display:block;font-weight:400;font-family:Lato,Helvetica,Arial,sans-serif>from
                                                            9:00 AM to 5:00 PM on all working weekdays.</span></p>
                                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif;background-color:#f8f9ff
                                                class=row-light>
                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:left!important;line-height:16px;border-collapse:collapse;padding:16px
                                                    class="text-left p-16">
                                                    <table
                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;width:100%;border-collapse:collapse!important
                                                        class=w-full>
                                                        <tbody style=font-family:Lato,Helvetica,Arial,sans-serif>
                                                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse
                                                                    colspan=4>
                                                                    <p style=font-family:Lato,Helvetica,Arial,sans-serif;font-size:12px;line-height:16px;letter-spacing:.25;padding:0;margin:0
                                                                        class=fs-12>The best career-enhancing courses
                                                                        for government officers are yours, at iGOT
                                                                        Karmayogi! Jai Hind!
                                                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse
                                                                    colspan=4>
                                                                    <center><img alt=Logo
                                                                            src=https://igotkarmayogi.gov.in/assets/email-template/KarmayogiBharat_Logo@2x.svg
                                                                            style=margin-top:4px;height:25px;display:block;width:90px;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic
                                                                            title=Logo></center>
                                                            <tr style=font-family:Lato,Helvetica,Arial,sans-serif;text-align:center
                                                                class=text-center>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;margin-right:16px;height:32px;display:inline-block;margin-top:16px;width:32px!important
                                                                    class=social-media><a
                                                                        href=https://www.linkedin.com/company/karmayogi-bharat/
                                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;height:32px;width:32px;display:inline-block;text-decoration:none!important
                                                                        target=_blank><img alt=Logo
                                                                            src=https://igotkarmayogi.gov.in/assets/email-template/Linkedin@2x.svg
                                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none
                                                                            title=Logo></a>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;margin-right:16px;height:32px;display:inline-block;margin-top:16px;width:32px!important
                                                                    class=social-media><a
                                                                        href="https://x.com/iGOTKarmayogi?t=OUEVuskmXbrTNdPuIBaHuw&s=09"
                                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;height:32px;width:32px;display:inline-block;text-decoration:none!important
                                                                        target=_blank><img alt=Logo
                                                                            src=https://igotkarmayogi.gov.in/assets/email-template/Twitter@2x.svg
                                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none
                                                                            title=Logo></a>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;margin-right:16px;height:32px;display:inline-block;margin-top:16px;width:32px!important
                                                                    class=social-media><a
                                                                        href="https://instagram.com/karmayogibharat?igshid=MzRlODBiNWFlZA=="
                                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;height:32px;width:32px;display:inline-block;text-decoration:none!important
                                                                        target=_blank><img alt=Logo
                                                                            src=https://igotkarmayogi.gov.in/assets/email-template/Instagram@2x.svg
                                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none
                                                                            title=Logo></a>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;margin-right:16px;height:32px;display:inline-block;margin-top:16px;width:32px!important
                                                                    class=social-media><a
                                                                        href="https://www.facebook.com/profile.php?id=100089782863897&mibextid=ZbWKwL"
                                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;height:32px;width:32px;display:inline-block;text-decoration:none!important
                                                                        target=_blank><img alt=Logo
                                                                            src=https://igotkarmayogi.gov.in/assets/email-template/Facebook@2x.svg
                                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none
                                                                            title=Logo></a>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;margin-right:16px;height:32px;display:inline-block;margin-top:16px;width:32px!important
                                                                    class=social-media><a
                                                                        href="https://youtube.com/@karmayogibharat?feature=shared"
                                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;height:32px;width:32px;display:inline-block;text-decoration:none!important
                                                                        target=_blank><img alt=Logo
                                                                            src=https://igotkarmayogi.gov.in/assets/email-template/Youtube@2x.svg
                                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none
                                                                            title=Logo></a>
                                                                <td style=font-family:Helvetica,Arial,sans-serif;font-size:14px;color:#4d4d4d;text-align:center;line-height:21px;border-collapse:collapse;margin-right:16px;height:32px;display:inline-block;margin-top:16px;width:32px!important
                                                                    class=social-media><a
                                                                        href=https://spotify.link/RxnbvhRXoDb
                                                                        style=font-family:Lato,Helvetica,Arial,sans-serif;color:#676767;height:32px;width:32px;display:inline-block;text-decoration:none!important
                                                                        target=_blank><img alt=Logo
                                                                            src=https://igotkarmayogi.gov.in/assets/email-template/Spotify@2x.svg
                                                                            style=display:block;font-family:Lato,Helvetica,Arial,sans-serif;max-width:600px;outline:0;text-decoration:none;-ms-interpolation-mode:bicubic;border:none
                                                                            title=Logo></a>
                                                    </table>
                                    </table>